

<p>Hi <%= @user.name %>,</p>

<p>
 Welcome to the Sample App! Click on the link below to activate your account:
</p>



<a href="http://localhost:3001/Account_activations/<%= @user.activation_token%>/?email=<%=@user.email%>" >Click here</a>