Hi <%= @user.name %>,

Welcome to the Sample App! Click on the link below to activate your account:



<a href="https://rebbeswholesalestore.netlify.app/Account_activations/<%= @user.reset_token%>/?email=<%=@user.email%>" >Click here</a>
